footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

body {
  margin: 0;
}

.introBar {
  background-color: var(--intro-bg-color);
}

.topBar {
  padding: 0.75% 0 0 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: chrome/safari scroll bar is turned off bc its ugly. make it nice. */
.navBar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.galleryDiv:hover .text-fade {
  color: var(--main-font-color);
  visibility: visible;
  opacity: 1;
  transition: all 0.1s ease-out;
}

.galleryDiv:hover .text-fade a {
  color: var(--main-font-color);
}

.galleryDiv:hover .galleryItem img {
  -webkit-filter: brightness(75%);
  transition: all 0.2s ease;
}

.galleryDiv:hover .galleryItem video {
  -webkit-filter: brightness(75%);
  transition: all 0.3s ease;
}

.text-fade {
  visibility: visible;
  opacity: 0.5;
  transition: all 0.1s ease-out;
  color: pink;
}

.galleryDiv {
  filter: drop-shadow(0px 0px 5px #e3bcaf44);
}

.galleryDiv img {
  border-radius: 1.5%;
  height: 300px;
}

.galleryDiv video {
  border-radius: 1.5%;
  height: 300px;
}

.galleryDiv:hover .galleryItem {
  filter: var(--drop-shadow);
  transition: all 0.3s ease;
}

.galleryDiv video {
  border-radius: 1.5%;
}

.galleryTd {
  padding: 10px;
  padding-right: 5px;
}

table {
  overflow-x: scroll;
  display: flex;  
  margin-top: 1rem;
  height: 69%
}

body {
  --font-size--huge: 2.375rem;
  --spacing--60: 2.25rem;
  background-color: var(--bg-color);
  color: var(--main-font-color);
  font-family: "Work Sans";
  font-size: 0.85em;
  line-height: 1.5;
  padding: 0;
}
body .is-layout-flex {
  gap: 24px;
}
a {
  color: var(--link-color);
  text-decoration: auto;
}
a:hover {
  color: var(--link-hover);
}
h1 {
  font-size: var(--font-size--gigantic);
  font-weight: var(--wp--custom--heading--typography--font-weight);
  line-height: var(--wp--custom--heading--typography--line-height);
}
h2 {
  font-size: var(--font-size--huge);
  font-weight: var(--wp--custom--heading--typography--font-weight);
  line-height: var(--wp--custom--heading--typography--line-height);
}
h3 {
  font-size: var(--font-size--extra-large);
  font-weight: var(--wp--custom--heading--typography--font-weight);
  line-height: var(--wp--custom--heading--typography--line-height);
}
h4 {
  font-size: var(--font-size--large);
  font-weight: var(--wp--custom--heading--typography--font-weight);
  line-height: var(--wp--custom--heading--typography--line-height);
}
h5 {
  font-size: var(--font-size--normal);
  font-weight: var(--wp--custom--heading--typography--font-weight);
  line-height: var(--wp--custom--heading--typography--line-height);
}
h6 {
  font-size: var(--font-size--small);
  font-weight: var(--wp--custom--heading--typography--font-weight);
  line-height: var(--wp--custom--heading--typography--line-height);
}
@font-face{
  font-family:"Work Sans";
  font-style:normal;
  font-weight:400;
  font-display:block;
  src:local("Work Sans"), url('https://s2.wp.com/wp-content/themes/pub/stewart/assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-stretch:normal;
}
